* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Preahvihear", sans-serif;
    color: #63FF69;
    background-color: #000;
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #63FF69;
    text-decoration: none;
    text-transform: uppercase;
}

.social-media a {
    color: #63FF69;
    margin: 0 5px;
}

header {
    text-align: center;
    padding: 50px 0;
}

.social-media img{
    height:51px;
    width:51px;
}

.title{
        text-align: center;
}

.title h2{
    font-size: xx-large;
    color:#FFF;
}

.header-container{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}   


  
  .diamond {
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid limegreen;
    transition: transform 0.5s ease; 
  }

  .diamond-img{
    transform: rotate(-45deg) scale(1.3);
    transition: transform 0.5s ease; 
    height: 100%;
    min-width: 110%;
    min-height: 110%;
    object-fit: cover;
    object-position: center;
  }
  
  .diamond-img:hover {
    transform: rotate(5deg) scale(1.6); 
  }
  
  .diamond:hover {
    transform: rotate(15deg);
  
}



#skills {
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}




.skillcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center;
    width: 60%; 
  }
  
  .skill {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 10px;
    background: #000000;
    width: 300px;
    height: 300px; 
    margin: 20px;
    box-sizing: border-box; 
    position: relative;
}



.skill-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color:  #63FF69;;
    font-size: larger;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease, visibility 0s linear 0.1s;
    z-index: 2;
  }
  
  .skill:hover .skill-description {
    visibility: visible; 
    opacity: 1;
    transition-delay: 0s; 
  }

.skill img {
    max-width: 100%; 
    height: auto;   
    object-fit: cover; 
    transition: filter 0.3s ease; 
   
  }

  .skill:hover img {
    filter: blur(8px);
  }






#projects {
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#projects h2 {
    text-align: center;
    margin-bottom: 1em;
}

.projectcontainer{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

.project-row{
    width:80%;
    

}
.project-item-square{
    display: inline-block;
    width: 300px;
    position: relative;
    overflow: hidden;


}

.project-item-ren{
    width: 450px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.project-item-ren.img-plus{
    width: 100%;
    height: 100%;
    transition: filter 0.5s ease;
}
.project-item-square.img-plus{
    width: 100%;
    height: 100%;
    transition: filter 0.5s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.plus-icon {
    width: 50px; 
    height: 50px;
}

.project-item-ren.project-img:hover {
    filter: blur(8px);
}

.project-item-ren:hover .overlay {
    opacity: 1;
}

.project-item-square.project-img:hover {
    filter: blur(8px);
}

.project-item-square:hover .overlay {
    opacity: 1;
}



.footer-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}

.footer-right a {
    color: inherit; 
    text-decoration: none;
}


@media screen and (min-width: 1200px) {
    .typewriter-box {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        border-right: 3px solid;
        animation: typewriter 10s steps(40) 1s forwards, blink-caret .75s step-end infinite;
        font-family: monospace;
        margin-left:100px;
        font-size: x-large;
        overflow-wrap: break-word;
      }
      
      .portfolio-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 200px; 
      }

      @keyframes typewriter {
        from { width: 0; }
        to { width: 100%; }
      }
      
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: black; }
      }
    
}
  





@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    
    nav ul li {
        margin-bottom: 10px;
    }
    
    .skill {
        margin: 10px;
    }

    .typewriter-box {
        overflow-wrap: break-word;
        display: block;
      }

      .portfolio-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px; 
      }

}

@media screen and (max-width: 320px) {
    nav ul {
        flex-direction: column;
    }
    
    nav ul li {
        margin-bottom: 10px;
    }
    
    .skill {
        margin: 10px;
    }
}